html,body{
    height: 100% !important;
}
body{
    height: 100% !important;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto !important;
}
footer h3 a{
    text-decoration: none !important;
}
a{
    color: black;
}

.content-background{
    background: url('../images/guitar.png');
    background-size: cover;
}
.content-title{
    min-height: 400px;
    width: 100%;
}
.content-title p{
   color : hsla(0,0%,100%,.8);
}
.btn-candidater{
    font-size: 20px;
}

.fa-instagram:hover{
    color: black;
}
.fa-twitter:hover{
    transition: 0.3s;
    color: rgb(1, 1, 173) !important;
}
.fa-snapchat:hover{
    color: rgb(213, 150, 2) !important;
    transition: 0.3s;
}
.section-image .container{
    height: 50%
}
.img-item{
    height: 400px;
}


.responsable-title{
    font-size: 16px;
}
.responsable-result{
    font-size: 12px;
}

/* PAGE LISTE -> style table */
table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid #000;
}
tr:hover td{
    background-color: #ddd;
}
table tr:nth-child(2n){
    background-color: #f2f2f2;
}
table th{
    padding: 12px 30px;
    background-color: rgb(53,58,63);


    color: white;
    white-space: nowrap;
}



